* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*------------Navbar styling------------*/
#nav-bar {
    position: sticky; /*so it sticks to the top*/
    top: 0;
    z-index: 10; /* means that this element will be positioned above other elements in the stacking context with lower z-index values.*/
}
.navbar {
    background-image: linear-gradient(to right, grey, #333);
}
.navbar-brand {
    color: #fff;
    font-weight: 800;
}
.navbar-toggler-icon { /*color of toggler is not changing ??? */
    color: white;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff;
    font-weight: 550;
    text-decoration: underline;
    float: right;
    text-align: left;
}
/*------------hero styling------------*/