body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    margin-top: 20px;
  }
  
  /* Navigation bar Styles */
  nav h1 {
    font-size: 30px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }

  .navbar-list {
    margin-left: auto; /* Move the list items to the right */
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Hero Banner Styles */
  .jumbotron {
    background: url('/images/02-hero-bg.jpg') center/cover;
    color: white;
    text-align: right;
    padding: 100px 0;
  }
  
  .profile-photo img {
    max-width: 150px;
    width: 100%;
    height: auto;
    border: 2px solid white;
    max-height: 70vh;
  }

  h2.display-4 {
    font-size: 38px;
    font-weight: 800;
    background-color: lightblue;
  }
  .jumbo-para {
    background-color: yellowgreen;
  }
  
  /* Subheading Styles */
  .subheading h3 {
    font-size: 24px;
    font-weight: 550;
    text-decoration: underline;
  }

  .accordion-button {
    font-size: 20px; 
    padding: 15px 20px;
    background-color: grey;
    color: black;
  }
  .accordion-body {
    font-size: 18px; 
    padding: 15px; 
  }

  /* Work Section Styles */

  #workGrid {
    margin-left: 25%; /* This will push the container to the right */
    margin-right: auto; 
  }

  #workGrid .card {
    margin: 10px 0;
  }
  
  .card-img-top {
    max-height: 200px;
  }
  
  .card-title {
    font-size: 18px;
  }
  .first-card {
    transform: scale(1.1); 
  }
  
  /* Contact Section Styles */
  #contactGrid ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }
  
  .contactGridArea {
    text-align: center;
    font-size: 20px;
  }
  
  .contactGridArea a {
    text-decoration: none;
    color: #333;
  }
  
  .contactGridArea a:hover {
    text-decoration: underline;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
  }
  
  .footer-content {
    text-align: center;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header h1 {
      font-size: 24px;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
      font-size: 16px;
    }
  
    .jumbotron {
      padding: 50px 0;
    }
  
    .profile-photo {
      position: relative;
      top: 0;
      left: 0;
      margin: 20px auto;
    }
  
    .subheading h2 {
      font-size: 20px;
    }
  
    #workGrid .card {
      margin: 10px 0;
    }
  
    .card-title {
      font-size: 16px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1080px) {
    header h1 {
      font-size: 28px;
    }
  
    nav li {
      font-size: 18px;
    }
  
    .jumbotron {
      padding: 80px 0;
    }
  
    .profile-photo {
      position: relative;
      top: 0;
      left: 0;
      margin: 25px auto;
    }
  }
  