body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  .container {
    margin-top: 20px;
  }

  .nav-link:hover,
  .card-overlay-content a:hover,
  .list-group-item a:hover,
  .back-to-top-link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /*creating box shadow on hover for some buttons*/
  }
  
  /* Navigation bar Styles */
  nav h1 {
    font-size: 33px;
    font-weight: 600;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }

  .navbar-list {
    margin-left: auto; /* Move the list items to the right */
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Hero Banner Styles */
  .jumbotron {
    background: url('../images/02-hero-bg.jpg') center/cover;
    color: white;
    text-align: right;
    padding: 100px 0;
  }
  
  .profile-photo img {
    max-width: 150px;
    width: 100%;
    height: auto;
    border: 2px solid white;
    max-height: 70vh;
  }

  h2.display-4 {
    font-size: 30px;
    font-weight: 600;
    background-color: #333;
  }
  .jumbo-para {
    background-color: grey;
    font-weight: 600;
    color: black;
  }
  
  /* Subheading Styles */
  .subheading h3 { 
    font-size: 24px;
    font-weight: 550;
    text-decoration: underline;
  }

  .accordion-button {
    font-size: 20px; 
    padding: 15px 20px;
  }
  .accordion-body {
    font-size: 18px; 
    padding: 15px; 
  }

  /* Work Section Styles */

  #workGrid {
    margin-left: 20px; /* This will push the container to the right */
    margin-right: 20px; 
  }
  .custom-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; 
  }
  
  .custom-card .card-img-top {
    object-fit: cover;
    height: 100%;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    opacity: 0.5;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card-overlay:hover {
    opacity: 1.5;
  }
  
  .card-overlay-content {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  
  /* Contact Section Styles */
  .contact-list-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
  }
  /* Adding the hover effect to the list items (the rest left) */
  .contact-list-item:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); 
  }
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  .footer-content {
    text-align: center;
  }
  .back-to-top-link {
    text-decoration: none;
    color: white;
    transition: text-decoration 0.3s ease-in-out;
  }
  
  .back-to-top-link:hover {
    text-decoration: underline;
  }
  
  
  /* Media Queries */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header h1 {
      font-size: 24px;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
      font-size: 16px;
    }
  
    .jumbotron {
      padding: 50px 0;
    }
  
    .profile-photo {
      position: relative;
      top: 0;
      left: 0;
      margin: 20px auto;
    }
  
    .subheading h2 {
      font-size: 20px;
    }
  
    #workGrid .card {
      margin: 10px 0;
    }
  
    .card-title {
      font-size: 16px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1080px) {
    header h1 {
      font-size: 28px;
    }
  
    nav li {
      font-size: 18px;
    }
  
    .jumbotron {
      padding: 80px 0;
    }
  
    .profile-photo {
      position: relative;
      top: 0;
      left: 0;
      margin: 25px auto;
    }
  }
  